.git
.idea
.vscode
node_modules
build
bin
tmp
coverage.out
coverage.html
.DS_Store
deploy/compose/postgres_data
deploy/compose/seaweedfs_master
deploy/compose/seaweedfs_volume
deploy/compose/seaweedfs_filer
deploy/compose/nats_data
streamhub/node_modules
streamhub/.next
ui/node_modules
ui/.next
